.cover__link {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #fff;
   padding: 20.8% 0;
   text-decoration: none;
   background: url(../../../images/cover-trains.jpg) 0 0/cover no-repeat;
}

.cover__link::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   background: #2A2C2F;
   min-width: 100%;
   min-height: 100%;
   opacity: 0.3;
} 

.cover__link:hover::after {
   opacity: 0.8;
}

@media screen and (max-width: 1024px) {
   .cover__link {
      padding: 19.2% 0
   }
}

@media screen and (max-width: 768px) {
   .cover__link {
      padding: 15.2% 0
   }
}

@media screen and (max-width: 320px) {
   .cover__link {
      padding: 11.1% 0
   }
}