.header__logo {
   background: url(../../../images/header-logo.svg) no-repeat;
   background-size: contain;
   width: 176px;
   height: 52px;
   margin: 28px 0 0;
}

@media screen and (max-width: 320px) {
   .header__logo {
      margin: 16px 0 0;
      width: 142px;
      height: 42px;
   }
}