.cover__title {
   font-size: 72px;
   line-height: 1.06;
   text-align: center;
   max-width: 540px;
   z-index: 1;
}

@media screen and (max-width: 540px) {
   .cover__title {
      font-size: 32px;
      line-height: 1.09;
   }
}